* {
	background-color: #020A18;
	margin: 0;
	padding: 0;
	color:#ffffff;
}

.flex {
	display: flex;
}

a {
	text-decoration: none;
	color: #ffffff;
	padding-left: 1rem;
}

.btn {
	background: #3A68B8;
	color: #ffffff ;
	border-radius: 0;
}

.header {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-size: 22.5455px;
	line-height: 31px;
	color: #3A68B8;
}

.logo {
	position: absolute;
	left: 387px;
}

.logo-top {
	position: absolute;
	width: 44.04px;
	height: 57px;
	top: 21px;
}

.logo-top-text {
	position: absolute;
	width: 300px;
	height: 31px;
	left: 60px;
	top: 36px;
}

.links {
	position: absolute;
	width: 47px;
	height: 22px;
	left: 754px;
	top: 39px;
}

.sign-in {
	position: absolute;
	left: 1421px;
	top: 24px;
}

.btn-sign-in {
	width: 112px;
	height: 52px;
	font-weight: 600;
	font-size: 16px;
	line-height: 22px;
}

.middle {
	width: 1340px;
	height: 677px;
	position: absolute;
	left: 387px;
	top: 258px;
}

.middle-block1 {
	position: absolute;
	width: 604px;
	height: 415px;
}

.background-rocket {
	position: absolute;
	width: 632px;
	height: 634px;
	left: 719px;
	bottom: -107px;
	background-image: url(image2.svg);
}

.Next-generation {
	position: relative;
	width: 290px;
	height: 29px;
	font-weight: 600;
	font-size: 18px;
	line-height: 160%;
	text-transform: uppercase;
	color: #3A68B8;
}

h1 {
	position: relative;
	width: 550px;
	height: 142px;
	top: 39px;
	font-weight: 800;
	font-style: normal;
	font-size: 55px;
	line-height: 130%;
	color: #FFFFFF;	
}

.middle-block1-text {
	position: relative;
	width: 558px;
	height: 87px;
	top: 150px;
	font-weight: 600;
	font-size: 18px;
	line-height: 160%;
	color: #FFFFFF;
	opacity: 0.7;
}

.bottom-buttons {
	position: relative;
	width: 408px;
	height: 57px;
	top: 250px;
}

.watch {
	flex-direction: row;
	align-items: flex-start;
	position: absolute;
	left: 211px;
}

.btn-watch {
	width: 171px;
	height: 57px;
	border-radius: 5px;
	font-weight: 600;
	font-size: 20px;
	padding-left: 1.5rem;
	text-decoration: none;
	background-image: url(play.svg);
	background-repeat: no-repeat;
	background-position-y: center;
	background-position-x: 0.5rem;
}

.start {
	flex-direction: row;
	align-items: flex-start;
	padding: 15px 30px;
	position: absolute;
	padding: 0;
}

.btn-start {
	width: 171px;
	height: 57px;
	font-weight: 600;
	font-size: 20px;
	line-height: 27px;
	border-radius: 5px;
}

.sponsors {
	position: relative;
	width: 1146.45px;
	height: 59px;
	top: 620px;
}

.sponsor {
	padding-left: 40px;
}

.bottom {
	position: relative;
	width: 1530px;
	height: 669px;
	left: 256px;
	top: 1000px;
}

.bottom-block {
	position: relative;
	width: 484px;
	height: 314px;
	left: 793px;
	top: 178px;
}

.bottom-block-img {
	background-image: url(image3.svg);
	position: relative;
	width: 725px;
	height: 669px;
	left: 256px;
}

.h2-bottom-block {
	position: relative;
	width: 484px;
	height: 104px;
	font-weight: 700;
	font-size: 40px;
	line-height: 130%;
}

.p-bottom-block {
	position: relative;
	width: 460px;
	height: 78px;
	font-weight: 600;
	font-size: 16px;
	line-height: 160%;
	opacity: 0.7;
	top: 100px;
}

.button-bottom-block {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 50px 1px;
	gap: 10px;
	left: 1049px;
}

.btn-bottom-block {
	width: 150px;
	position: absolute;
	top: 380px;
	height: 52px;
	border-radius: 5px;
}

.feature {
	position: absolute;
	width: 1930px;
	height: 454px;
	left: -5px;
	top: 900px;
}

.feature-blocks {
	width: 1930px;
	height: 415px;
	border-radius: 10px;
	justify-content: space-between;
	text-align: center;
}

.feature-blocks1 {
	width: 302px;
	height: 62px;
}

.feature-blocks1-img {
	background-image: url(feature1.svg);
	width: 73px;
	height: 69px;
}

.h3-fblock1 {
	width: 302px;
	height: 62px;
	font-weight: 700;
	font-size: 25px;
	line-height: 125%;
	text-align: center;
	color: #FFFFFF;
	opacity: 0.7;
}

.p-fblock1 {
	width: 302px;
	height: 104px;
	font-weight: 600;
	font-size: 16px;
	line-height: 160%;
	text-align: center;
	color: #FFFFFF;
	opacity: 0.7;
}

.feature-blocks2 {
	width: 362px;
	height: 389px;
}

.feature-blocks2-img {
	background-image: url(feature2.svg);
	width: 98px;
	height: 103px;
}

.h3-fblock2 {
	width: 302px;
	height: 62px;
	font-weight: 700;
	font-size: 25px;
	line-height: 125%;
	text-align: center;
	color: #FFFFFF;
	opacity: 0.7;
}

.p-fblock2 {
	width: 280px;
	height: 104px;
	font-weight: 600;
	font-size: 16px;
	line-height: 160%;
	text-align: center;
	color: #FFFFFF;
	opacity: 0.7;
}

.feature-blocks3 {
	width: 362px;
	height: 389px;
}

.feature-blocks3-img {
	background-image: url(feature3.svg);
	width: 98px;
	height: 103px;
}

.h3-fblock3 {
	width: 310px;
	height: 62px;
	font-weight: 700;
	font-size: 25px;
	line-height: 125%;
	text-align: center;
	color: #FFFFFF;
	opacity: 0.7;
}

.p-fblock3 {
	width: 280px;
	height: 104px;
	font-weight: 600;
	font-size: 16px;
	line-height: 160%;
	text-align: center;
	color: #FFFFFF;
	opacity: 0.7;
}

.feature-blocks4 {
	width: 362px;
	height: 389px;
}

.feature-blocks4-img {
	background-image: url(feature4.svg);
	width: 98px;
	height: 103px;
}

.h3-fblock4 {
	width: 310px;
	height: 62px;
	font-weight: 700;
	font-size: 25px;
	line-height: 125%;
	text-align: center;
	color: #FFFFFF;
	opacity: 0.7;
}

.p-fblock4 {
	width: 280px;
	height: 104px;
	font-weight: 600;
	font-size: 16px;
	line-height: 160%;
	text-align: center;
	color: #FFFFFF;
	opacity: 0.7;
}

.feature-blocks5 {
	width: 362px;
	height: 389px;
}

.feature-blocks5-img {
	background-image: url(feature5.svg);
	width: 98px;
	height: 103px;
}

.p-fblock5 {
	width: 280px;
	height: 104px;
	font-weight: 600;
	font-size: 16px;
	line-height: 160%;
	text-align: center;
	color: #FFFFFF;
	opacity: 0.7;
}

.h3-fblock5 {
	width: 310px;
	height: 62px;
	font-weight: 700;
	font-size: 25px;
	line-height: 125%;
	text-align: center;
	color: #FFFFFF;
	opacity: 0.7;
}

.swap-menu {
	width: 1930px;
	height: 15px;
	border-radius: 10px;
	justify-content: center;
	align-items: center;
}

.circle {
	padding-left: 0.5rem;
}

.about {
	position: absolute;
	width: 1650px;
	height: 590px;
	left: 0px;
	top: 1450px;
}

.about-block {
	position: relative;
	width: 548px;
	height: 464px;
	left: 150px;
}

.h2-about {
	position: relative;
	width: 510px;
	height: 104px;
	left: 387px;
	font-weight: 700;
	font-size: 40px;
	line-height: 130%;
}

.p1-about {
	position: relative;
	width: 460px;
	height: 78px;
	left: 387px;
	top: 20px;
	font-weight: 600;
	font-size: 16px;
	line-height: 160%;
	opacity: 0.7;
}

.p2-about {
	position: relative;
	width: 460px;
	height: 52px;
	left: 387px;
	top: 60px;
	font-weight: 600;
	font-size: 16px;
	line-height: 160%;
	opacity: 0.7;
}

.p3-about{
	position: relative;
	width: 460px;
	height: 52px;
	left: 387px;
	top: 140px;
	font-weight: 600;
	font-size: 16px;
	line-height: 160%;
	opacity: 0.7;
}

.p4-about {
	position: relative;
	width: 460px;
	height: 78px;
	left: 387px;
	top: 200px;
	font-weight: 600;
	font-size: 16px;
	line-height: 160%;
	opacity: 0.7;
}

.about-background {
	position: relative;
	width: 642px;
	height: 551px;
	left: 1000px;
	bottom: 450px;
	background-image: url(about.svg);
}

.footer {
	position: relative;
	width: 1450px;
	height: 400px;
	left: 114px;
	top: 1700px;
	font-family: 'Circular Std';
}

li {
	padding-bottom: 1.5rem;
}

.footer-logo {
	padding-bottom: 0;
}

ul {
	list-style: none;
}

.footer-block1 {
	width: 630px;
}

.footer-logo-span {
	color: #3A68B8;
	font-style: normal;
	font-size: 15.9627px;
	line-height: 22px;	
}

.p1-footer {
	width: 260px;
}

.footer-block2 {
	width: 500px;
	position: relative;
	top: 38px;
	height: 360px;
}

.footer-block3 {
	width: 500px;
	position: relative;
	top: 38px;
	height: 360px;
}

.footer-block4 {
	width: 500px;
	position: relative;
	top: 38px;
	height: 360px;
}

.footer-block5 {
	width: 500px;
	position: relative;
	top: 38px;
	height: 360px;
}