* {
	background-color: #020A18;
}
.flex {
	display: flex;
}
a {
	text-decoration: none;
}

.header {
	font-family: 'Open Sans';
	font-style: normal;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-size: 22.5455px;
	line-height: 31px;
	color: #3A68B8;
}